In [280]:
#ABSOLUTE()
myList = [1,3,6,20,-13,-92,-14]
myNewList = [abs(i) for i in myList]
print(myNewList)

print(abs(-11.55))
print(abs(-4))

[1, 3, 6, 20, 13, 92, 14]
11.55
4

In [281]:
#ALL ()--- Everything that is empty is True
Hola = ["False",23424,"adasss",0]
print(all(Hola))

Hola2 = ["True",23424,"adasss"] #Also True if they are empty
print(all(Hola2))

listSame = [1,1,1,1]
all([x == 1 for x in listSame])

False
True

True

In [282]:
#ANY --- Everything that is empty is False
print(any([""]))
print(any(["",False, 0]))
print(any(["",False, 0, 1]))
print(any(["",False, 0, "Hey"]))

names = ["John","Joe","James"]
print(any([x == "Joe" for x in names]))
print(all([x == "James" for x in names]))

False
False
True
True
True
False

In [283]:
#ASCII()
print(ascii(1))
print(ascii("hey"))
print(type(ascii([]))) #Se con vierten en String
print(ascii("encod√©"))

1
'hey'
<class 'str'>
'encod\xe9'

In [284]:
#BIN()
print(bin(1))
print(bin(-2))
print(bin(4))
print(type(bin(1))) #Return String
(format(100, "b"))

0b1
-0b10
0b100
<class 'str'>

'1100100'

In [289]:
#BOOl()
print(bool(1))
print(bool(1221))
print(bool(1.3))
print(bool(False))
print(bool([0,0,False]))

True
True
True
False
True

In [ ]:
#BREAKPOINT()